<div id="message">
  {{ message }}
</div>
<div id="info">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
  <table>
    <tr>
      <th>PodName:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>OS:</th>
      <td>{{ platform }} </td>
    </tr>
  </table>

</div>
