<!DOCTYPE html>
<html>
<head>
   <h1> <title>Hello Kubernetes!</title>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>

  <div class="main">
    
    <div class="content" align="center">
      {{{body}}}
    </div>
  </div>

</body>
</html>
